/*
Colorblind safe color palette from colorbrewer2.org
#dz191c - red
#fdae61 - peach
#ffffbf - cream
#abd9e9 - light blue
#2c7bb6 - blue
*/


body {
  background-color: #abd9e9;
  color: #ffffbf;
  text-align: center;
  margin: 0;
}

h1 {
  color: #fdae61;
  padding: 5px;
  margin: 0;
}

#body-container {
  background-color: #fdae61;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  border: 2px solid #fdae61;
  border-radius: 25px;
  overflow: hidden;
}

#header {
  background-color: #2c7bb6
}

#profile-picture {
  float: left;
}

#welcome-text {
  padding-top: 25px;
  font-size: 25px;
}

#research-interests {
  text-align: left;
  font-size: 25px;
  position: relative;
  left: 50px;
}
